In [ ]:
import duckdb
import pandas as pd

In [ ]:
sql_query = '''show tables'''

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

In [ ]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data_nyc_pv/dof_parking_violation_codes.csv',
  normalize_names=True
  )
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data_nyc_pv/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
'''

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)
  con.sql(sql_query_import_2)

In [ ]:
sql_query = '''show tables'''

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

# output
# ┌─────────────────────────┐
# │          name           │
# │         varchar         │
# ├─────────────────────────┤
# │ parking_violation_codes │
# │ parking_violations_2023 │
# └─────────────────────────┘

In [ ]:
sql_query = '''
SELECT * FROM parking_violation_codes LIMIT 5
'''

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
    display(con.sql(sql_query))

# output
# ┌───────┬────────────────────────────────┬─────────────────────────┬─────────────────┐
# │ code  │           definition           │ manhattan_96th_st_below │ all_other_areas │
# │ int64 │            varchar             │          int64          │      int64      │
# ├───────┼────────────────────────────────┼─────────────────────────┼─────────────────┤
# │     1 │ FAILURE TO DISPLAY BUS PERMIT  │                     515 │             515 │
# │     2 │ NO OPERATOR NAM/ADD/PH DISPLAY │                     515 │             515 │
# │     3 │ UNAUTHORIZED PASSENGER PICK-UP │                     515 │             515 │
# │     4 │ BUS PARKING IN LOWER MANHATTAN │                     115 │             115 │
# │     5 │ BUS LANE VIOLATION             │                     250 │             250 │
# └───────┴────────────────────────────────┴─────────────────────────┴─────────────────┘

In [ ]:
sql_query = '''
SELECT * FROM parking_violations_2023 LIMIT 5
'''

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
    display(con.sql(sql_query))

# ┌────────────────┬────────────────────┬────────────┬───┬───────────────────┬──────────────────────┐
# │ summons_number │ registration_state │ plate_type │ … │ hydrant_violation │ double_parking_vio…  │
# │     int64      │      varchar       │  varchar   │   │      varchar      │       varchar        │
# ├────────────────┼────────────────────┼────────────┼───┼───────────────────┼──────────────────────┤
# │     9010912681 │ CA                 │ PAS        │ … │ NULL              │ NULL                 │
# │     4858762841 │ NY                 │ PAS        │ … │ NULL              │ NULL                 │
# │     4854645684 │ FL                 │ PAS        │ … │ NULL              │ NULL                 │
# │     9044582707 │ NY                 │ PAS        │ … │ NULL              │ NULL                 │
# │     9041503330 │ NY                 │ PAS        │ … │ NULL              │ NULL                 │
# ├────────────────┴────────────────────┴────────────┴───┴───────────────────┴──────────────────────┤
# │ 5 rows                                                                     34 columns (5 shown) │
# └─────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
sql_query = '''
SELECT * FROM parking_violations_2023 LIMIT 5
'''

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

In [ ]:
sql_query_count_1 = 'SELECT count(*) FROM parking_violation_codes'
sql_query_count_2 = 'SELECT count(*) FROM parking_violations_2023'

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
  display(con.sql(sql_query_count_1))
  display(con.sql(sql_query_count_2))

# ┌──────────────┐
# │ count_star() │
# │    int64     │
# ├──────────────┤
# │           97 │
# └──────────────┘
# ┌──────────────┐
# │ count_star() │
# │    int64     │
# ├──────────────┤
# │       100000 │
# └──────────────┘

In [ ]:
sql_query_count_1 = 'SELECT * FROM ref_model'

with duckdb.connect('data_nyc_pv/nyc_parking_violations.db') as con:
  display(con.sql(sql_query_count_1))

In [ ]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data_nyc_pv/dof_parking_violation_codes.csv',
  normalize_names=True
  )
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data_nyc_pv/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
'''

with duckdb.connect('data_nyc_pv/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query_import_1)
  con.sql(sql_query_import_2)

In [ ]:
sql_query = '''
show tables
'''

with duckdb.connect('data_nyc_pv/prod_nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())